@font-face {
  font-family: 'nebula';
  src:
    url('fonts/nebula.ttf?nb1t0d') format('truetype'),
    url('fonts/nebula.woff?nb1t0d') format('woff'),
    url('fonts/nebula.svg?nb1t0d#nebula') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="koama-"], [class*=" koama-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'nebula' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.koama-apple:before {
  content: "\e914";
}
.koama-change2:before {
  content: "\e913";
}
.koama-transfer2:before {
  content: "\e912";
}
.koama-change:before {
  content: "\e911";
}
.koama-direction-left:before {
  content: "\e90b";
}
.koama-direction-down:before {
  content: "\e90c";
}
.koama-direction-right:before {
  content: "\e90d";
}
.koama-direction-up:before {
  content: "\e90e";
}
.koama-logout:before {
  content: "\e907";
}
.koama-refresh:before {
  content: "\e908";
}
.koama-transfer:before {
  content: "\e909";
}
.koama-fullscreen:before {
  content: "\e906";
}
.koama-medium:before {
  content: "\e954";
}
.koama-facebook1:before {
  content: "\e947";
}
.koama-instagram:before {
  content: "\e948";
}
.koama-telegram:before {
  content: "\e949";
}
.koama-play-store:before {
  content: "\e91e";
}
.koama-user-box:before {
  content: "\e900";
}
.koama-wallet:before {
  content: "\e901";
}
.koama-pause:before {
  content: "\e90f";
}
.koama-play-type2:before {
  content: "\e910";
}
.koama-play:before {
  content: "\e902";
}
.koama-browser:before {
  content: "\e903";
}
.koama-mobile:before {
  content: "\e92a";
}
.koama-pc:before {
  content: "\e927";
}
.koama-ios:before {
  content: "\e928";
}
.koama-arrow-diagonal:before {
  content: "\e929";
}
.koama-arrow-thin-right:before {
  content: "\e918";
}
.koama-arrow-thin-top:before {
  content: "\e91a";
}
.koama-arrow-thin-left:before {
  content: "\e91c";
}
.koama-arrow-thin-bottom:before {
  content: "\e91d";
}
.koama-twitter:before {
  content: "\e904";
}
.koama-discord:before {
  content: "\e919";
}
.koama-youtube:before {
  content: "\e91b";
}
.koama-globe:before {
  content: "\e943";
}
.koama-search:before {
  content: "\e944";
}
.koama-minus:before {
  content: "\e942";
}
.koama-plus:before {
  content: "\e945";
}
.koama-close:before {
  content: "\e956";
}
.koama-filter:before {
  content: "\e933";
}
.koama-check:before {
  content: "\e905";
}
.koama-exclamation-mark:before {
  content: "\e90a";
}
